 
.About-Us-Section {
    padding: 0px;
    background-color: #f9f9f9;
  
    .about-us {
      margin-bottom: 40px;
      text-align: center;
      h2 {
        font-size: 2.10;
        color: red;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.1rem;
        color:  #555;
        line-height: 1.6;
        margin-bottom: 20px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
      .img {
        margin-top: 20px;
        box-shadow: inset;
        img {
          max-width: 100%;
          height: auto;
          border-radius: 20px;
        }
      }
    }
  
    .Serving-Industries-Across-Tumakuru,
    .Our-Service-Areas-in-Tumakuru-Region {
      margin-bottom: 40px;
      h3 {
        font-size: 2rem;
        color: #333;
        margin-bottom: 15px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        li {
          font-size: 1.1rem;
          color: #555;
          margin-bottom: 10px;
          position: relative;
          padding-left: 25px;
          &:before {
            content: "•";
            color: #4caf50;
            font-size: 1.5rem;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  
    .Why-Partner-with-Us-for-Your-IT-Needs {
      h2 {
        font-size: 2.5rem;
        color: red;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 2rem;
        color: #333;
        margin-bottom: 15px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        li {
          font-size: 1.1rem;
          color: #555;
          margin-bottom: 10px;
          position: relative;
          padding-left: 25px;
          &:before {
            content: "✔";
            color: #4caf50;
            font-size: 1.5rem;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  
 
    @media (max-width: 768px) {
      .about-us {
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
          max-width: 100%;
        }
      }
  
      .Serving-Industries-Across-Tumakuru,
      .Our-Service-Areas-in-Tumakuru-Region,
      .Why-Partner-with-Us-for-Your-IT-Needs {
        h3 {
          font-size: 1.8rem;
        }
        ul {
          li {
            font-size: 1rem;
          }
        }
      }
    }
  }
  