<section class="aboutus">

    <div class="about-us">
        <h2>Your Trusted IT Partner in Tumkur</h2>
        <p>Based in Tumkur, we are a team of dedicated IT professionals committed to delivering high-quality
            services. Our mission is to help businesses thrive in today’s digital era with reliable and innovative
            IT solutions.</p>
            <div class="img">    
            <img src="  " alt="company image">
            </div>    
    </div>
    
    <div class="Serving">
            <h3>Serving Industries Across Tumakuru</h3>
            <ul>
                <li>Manufacturing Units</li>
                <li>Educational Institutions</li>
                <li>Healthcare Facilities</li>
                <li>Retail Businesses</li>
                <li>Professional Services</li>
                <li>Small & Medium Enterprises</li>
            </ul>
    </div>
    
    <div class="Our-Service">
            <h3>Our Service Areas in Tumakuru Region</h3>
            <ul>
                <li>Tumkur City</li>
                <li>Sira</li>
                <li>Gubbi</li>
                <li>Tiptur</li>
                <li>Kunigal</li>
                <li>Surrounding Industrial Areas</li>
            </ul>
    </div>
    
    <div class="Why-Partner">
            <h2>Why Partner with Us for Your IT Needs?</h2>
                <h3>Local Expertise</h3>
                <ul>
                    <li><img src="images/tick-icon.svg">Based in Tumkur</li>
                    <li><img src="images/tick-icon.svg">Understanding of local business environment</li>
                    <li><img src="images/tick-icon.svg">Bilingual support team: 24/7 technical support in Kannada and English</li>
                    <li><img src="images/tick-icon.svg">Regular client visits</li>
                </ul>
    </div>
    </section> 